@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    --sb-track-color: #040107;
    --sb-thumb-color: #2d2a36;
    --sb-size: 5px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 30px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 30px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  @font-face {
    font-family: 'Geist';
    src: url('/src/assets/fonts/Geist.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Geist', sans-serif;
  }